body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hwb(45 98% 1%);
    color: #333333;
    width: 100%;
    height: auto;
}
main {
    display: block;
}
header {
    padding: 1rem 10%;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    top: 0;
    z-index: 100;
    background: rgba(237, 229, 229, 0.8);
    backdrop-filter: blur(2px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}





header nav a {
    text-decoration: none;
    color: #333333;
    font-weight: 700;
    justify-content: space-between;
    padding: 10px;
    
   
}
header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.hero {
    height: 60vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/home1.jpg);
   background-size: cover;
   background-position: center bottom;
   color: black;
   background-attachment: fixed;
   margin-bottom: 50px;
}
.hero-card {
    background-color: #f9f9f9;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(250, 255, 255, 0.4);
    border-radius: 26px;
    width: 100%;
    margin: 0 auto;
}
.hero-card .cta {
    display: inline-block;
    padding: 12px;
    background-color: #1a1a1a;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 5px;
    border: 1px solid transparent;
}
.hero-card .cta:hover {
    transform: translateY(3px);
    background-color: transparent;
    color: black;
    border: 1px solid #1a1a1a;
}
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    

}
.footer-links a {
    text-decoration: none;
    color: #444;
    font-size: 0.9rem;
}

.footer-bottom {
    text-align: center;
    margin-top: 50px;
    border-top: 1px solid black;
}
.footer-bottom p {
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.main-footer {
    background-color: #f9f9f9;
    border-top: 1px solid black;
    padding: 40px;
    margin-top: 80px;
}



#product-grid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    
}
.content-wrapper {
    display: grid;
    grid-template-rows: 250px 1fr;
    gap: 30px;
    

}
.sofa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}
.img-content {
    background-color: rgb(236, 235, 235);
    border: 1px solid grey;
    padding: 1rem;
    border-radius: 8px;
    transition: transform 0.3s;

}

.img-content img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 2rem;
    
}
.img-content:hover {
    transform: translateY(-10px); border-color: gray;
}


aside {
    margin-top: 60px;
}
.rating {
    color: gold;
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 10px;
}
.buy-btn {
    background-color: #333333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    background: linear-gradient(135deg, #333333 0%, #5555 100%);
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}
.buy-btn:hover {
    transform: translateY(-2px);
}



